.navbar-container{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    background-color: #1f1f1f
}

.navbar-container h3{
    font-weight: bold;
}