.navbar-container {
    display: flex;
    height: 20px;
    display: flex;
    align-items: center;
}

.navbar-container button {
    background-color: #C0C0C0; /* Light gray */
    border: 2px outset #ffffff;
    color: black;
    padding: 3px 6px;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
}

.navbar-container button:hover {
    background-color: #E0E0E0; /* Lighter gray */
}

.navbar-container button:active {
    border: 2px inset #ffffff; /* Mimic the button being pressed */
}
