.Landing {
    width: 100vw;
    height: 100vh;
}

.Banner {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/blank_background_desktop.gif"); /* Correct path to your GIF */
    background-size: cover;
    background-position: center; /* Center the background image */
    display: flex; /* Use Flexbox for easier content alignment */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}