/* styles.css */
.default-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .custom-modal-overlay {
    position: fixed; /* Ensure it covers the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%; /* Cover full height */
    width: 100%; /* Cover full width */
  }
  