.grid-filter-container {
  display: flex;
  padding: 10px 0 10px 0;
  height: calc(100vh - 82px);
}

.grid-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 3px 0 0px;
}

.nft-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  overflow-y: auto;
  padding: 0 10px;
}

.nft-container-card-version {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  overflow-y: auto; 
  padding: 0px 10px;  
}

.nft-container::-webkit-scrollbar {
  margin-right: 0;
  width: 10px;
}

.nft-container::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 0px;
}

.nft-container::-webkit-scrollbar-track {
  background-color: none;
}

.nft-container-card-version::-webkit-scrollbar {
  margin-right: 0;
  width: 10px;
}

.nft-container-card-version::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 0px;
}

.logo-container {
  margin-left: 20px;
  width: 180px;
}

.icphats-logo {
  height: 70px;
  margin-left: -7px;
}

.viewmodes {
  display: flex;
  column-gap: 5px;
  justify-content: right;
  align-items: center;
  margin: 0 0px 0 20px;
  gap: 8px;
}

.viewmodes>a{
  height: 20px;
  align-items:center;
  display: flex;
  text-decoration: none;
}

.nri-inside-container{
  display: flex;
  width: auto;
  height: auto;
  background-color: black;
}

.state-control{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 80px;
  border-bottom: 2px solid #808080;
}

.state-control-minus-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
}

.nft-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22006C; /* Retro purple background */
  width: 115px;
  height: 45px;
  box-shadow: inset 0 0 10px #381E5A; 
  border: 3px solid #FFFFFF; /* Add a white border for that classic look */
  text-shadow: 3px 3px 0 #000; /* Gives the text a more defined, pixelated look */
  margin: 0 0 0 10px;
}

.nft-count-container p{
  font-size: 1.5rem;
  margin: 0 0 -3px 0;
}

.filter-container {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Add this to clip any overflowing content within this container */
}

.filter-preview {
  display: flex;
  width: 200px;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}


  .filter-active{
    border: 2px solid rgba(0, 255, 0, 0.6) !important;
  }

  .filter-preview::-webkit-scrollbar {
    margin-right: 0;
    width: 10px;
  }
  
  .filter-preview::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 0px;
  }
  
  .filter-preview::-webkit-scrollbar-track {
    background-color: black;
  }

  .filter-preview::-webkit-scrollbar-track-piece {

  }

  .one-∞{
    text-decoration: none;
    background: white;
    color: black;
  }

  .NFT-Search-Container{
    display: flex;
    height: 50px;
    margin: 0px 0 10px 10px;
  }

  .NFT-search-input {
    font-family: 'Half Bold Pixel-7', sans-serif;
    background-color: #222; /* Dark background */
    border: 2px solid #808080; /* Bright green border, typical of old monitors */
    color: #0f0; /* Bright green text color */
    width: 190px;
    height: 30px;
    outline: none; /* Remove the default focus outline */
    padding: 0 10px;
  }

.NFT-search-input::-webkit-outer-spin-button,
.NFT-search-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.NFT-search-input[type="number"] {
  -moz-appearance: textfield;
}
  
  .escape-icon {
    display: flex; /* Allows setting width and height */
    width: 26px; /* Adjusted width to accommodate for border within a 20x20px box */
    height: 26px; /* Adjusted height for the same reason */
    background-color: #D3D3D3; /* Light grey background */
    box-shadow: none; /* No shadow to save space and because it won't be noticeable */
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif; /* Uses Arial as the sans-serif font */
    font-size: 6px; /* Essentially removes the text by setting font size to 0 */
    user-select: none; /* Prevents text selection */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    text-decoration: none;
    color: black;
  }
  
  .escape-icon:active {
    background-color: #C0C0C0; /* Changes background color to simulate pressing */
  }

  .nri-view {
    display: flex; /* Allows setting width and height */
    width: 26px; /* Adjusted width to accommodate for border within a 20x20px box */
    height: 26px; /* Adjusted height for the same reason */
    background-color: #374fd8; /* Light grey background */
    box-shadow: none; /* No shadow to save space and because it won't be noticeable */
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Essentially removes the text by setting font size to 0 */
    user-select: none; /* Prevents text selection */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    text-decoration: none;
    color: black;
  }

  .nri-view-active{
    color: white;
  }

  .nri-view-icon p {
    margin: 0 0 -3px;
  }

  .price-view {
    display: flex; /* Allows setting width and height */
    width: 26px; /* Adjusted width to accommodate for border within a 20x20px box */
    height: 26px; /* Adjusted height for the same reason */
    background-color: #598C58; /* Light grey background */
    box-shadow: none; /* No shadow to save space and because it won't be noticeable */
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Essentially removes the text by setting font size to 0 */
    user-select: none; /* Prevents text selection */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    text-decoration: none;
    color: black;
  }

  .price-view-active{
    color: white;
  }

  .price-view-icon p {
    margin: 0 0 -3px;
  }

  .filter-image {
    background-color: rgb(30, 30, 30);
  }
  
  
  
  /* Adjusting for no shadow due to size, focusing on a simple, clean look */
   
  .filters-button-container{
    align-items: center;
    width: 200px;
    padding: 0px 10px 0px 10px;
    margin: 0 0 20px 0;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .filters-button-container a{
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }

  .filters-button-container img{
    height: 26px;
    width: 26px;
  }

  .layer-view{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .filter_asset_container{
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }

  .filterIcon{
    visibility: hidden;
  }

  .mobile-filter-container{
    display: flex;
    flex-direction: column;
  }

  .card-container {
    color: white;
    line-height: 0;
    border-radius: 8px;
  }
  
  .nft-image-container {
    aspect-ratio: 1 / 1;    
    overflow: hidden;
  }

  .black {
    background-color: black;
  }

  .white {
    background-color: white;
  }
  

  .nft-image{
    width: 100%;
  }

  .gradient-border {
    padding: 1.5px;
    background-image: linear-gradient(to right, #842481, #ED1E79, #29ABE2, #FBB03B, #F15A24);
  }

  .black-border {
    padding: 1.5px;
    background-color: #808080;
  }
  
  .card-description-container{
    background-color: #1b1b1b;
    padding: 4px 16px;
  }

  .card-description-container p{
    margin: 0 0 -3px 0;
  }
  
  .card-d-container-row {
    display: flex; /* This makes it a flex container */
    justify-content: space-between; /* This spreads out the items to the left and right ends */
    align-items: center; /* This centers the items vertically, you can adjust as needed */
    font-size: 16px;
    height: 38px;
  }
  
  .nft-price-container {
    display: flex;
    align-items: center;
    height: 23px;
  }

  .nft-price-container p{
    padding: 0px 0px 0px 0px;
  }
  
  .preview-container {
    padding: 40px;
  }

  .dfinity-price-image{
    height: 13px;
    width: 13px;
    padding: 0 0 0 3px;
    object-fit: contain;
  }

  .hide-price-logo {
    height: 13px;
    width: 13px;
    opacity: 0;
  }
  
  .nri-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    text-decoration: none;
    width: 50px;
    border-radius: 2px;
  }
  
  .nri-text {
    border-radius: 5px; /* Match the container's border-radius if needed */
    color: white;
    font-size: 12px;
  }
  
  .buy-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    background-color: #598C58; /* Background applied to the text */
    text-decoration: none;
    width: 50px;
  }
  
  .buy-now-text {
    padding: 0px 10px;
    border-radius: 5px; /* Match the container's border-radius if needed */
    color: #000000;
  }

  .send-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.3em 2em; */
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Half Bold Pixel-7', sans-serif;
    height: 23px;
    background-color: #585c8c; /* Background applied to the text */
    width: 50px;
    font-family: 'Half Bold Pixel-7', sans-serif;
  }

  .send-now-container:before {
    content: "";
    background: linear-gradient(
      45deg,
      #842481, 
      #ED1E79, 
      #29ABE2, 
      #FBB03B, 
      #F15A24
    );
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    background-size: 400%;
    z-index: -1;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 10px; */
  }

  .send-now-container:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    /* border-radius: 10px; */
  }

  .nft-item {
    width: 200px; /* Adjust width as needed */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .price-tag {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
  }
  
  .icon-placeholder {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  .details-container {
    position: relative;
  }


  
  

  /* This will apply only if the device supports hover */
  @media (hover: hover) {
    .filter_asset_container:hover {
      border: 2px solid rgba(255, 255, 255, 0.5);
    }
  }


  @media (max-width: 768px) {

    .filters-button-container{
      display: flex;
      flex-wrap: wrap;
      width: 110px;
      padding: 0px 0px 0px 10px;

    }

    .filter-container {
      /* Adjust the height for mobile if necessary, or any other styles */
      display: none !important;
    }

    .NFT-Search-Container{
      display: flex;
      width: 100px;
      height: 30px;
    }
  
    .NFT-search-input {
      width: 100px;
      outline: none; /* Remove the default focus outline */
      /* padding: 5px 10px; */
    }

    .filterIcon{
      visibility: visible;
    }

    .mobile-filter-container{
      display: flex;
    }

    .filter-preview::-webkit-scrollbar{
      width: 0px;
    }

    .nft-container-card-version::-webkit-scrollbar {
      width: 0;
    }

    .nft-container::-webkit-scrollbar {
      width: 0;
    }

    .filter-preview {
      flex: 1;
      width: 110px;
      padding-right: 0;
    }

    .viewmodes{
      border-right: 0;
    }

    .state-control{
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      border-bottom: 2px solid #808080;
    }

    .logo-container {
      width: auto;
      margin: 0
    }


    .grid-filter-container {
      display: flex;
      height: calc(100vh - 84px); /* +2 to account for the top border*/
    }

    .grid-container {
      height: 100%;
      padding: 0;
    }

    .nft-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      gap: 10px;
      overflow-y: scroll ;
    }
    
    .nft-container-card-version {
    }

    .nft-container-card-version {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      gap: 10px;
      overflow-y: scroll; 
    }

    .card-d-container-row {
      margin: 0px;
      height: 30px;
      font-size: 14px;
    }

    .card-description-container {
      padding: 4px 14px;
    }

    .card-description-container p{
    }

    .buy-now-text {
      padding: 0px 5px;
      border-radius: 5px; /* Match the container's border-radius if needed */
      color: #000000;
    }

    .icphats-logo {
      margin-left:  0px;
    }

    .viewmodes{
      margin: 0 10px 0 0;
      width: 50px;
    }

    .nri-container{
      width: 42px;
    }
    
    .nri-text{
      font-size: 10px;
    }

    .buy-now-container {
      width: 42px;
    }

    .nft-count-container{
      width: 95px;
      height: 40px;
      box-shadow: inset 0 0 10px #381E5A; 
      border: 3px solid #FFFFFF; /* Add a white border for that classic look */
      text-shadow: 3px 3px 0 #000; /* Gives the text a more defined, pixelated look */
      margin: 0;
    }

    .nft-count-container p{
      font-size: 20px;
    }

    .send-now-container {
      width: 42px;
    }
  }