.grid-container {
    height: calc(100vh - 250px);
    flex: 1;
    margin: 30px;
    overflow: auto;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
    scrollbar-width: none;
    border-radius: 10px;
    padding: 0px 10px;
  }

  .cards-container {
    height: calc(100vh - 250px);
    flex: 1;
    margin: 30px;
    overflow: auto;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    scrollbar-width: none;
    border-radius: 10px;
    padding: 0px 10px;
  }


.nft-viewer {
  display: flex;
  width: 100vw;
  height: calc(100vh- 188px);
}

.viewmodes {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  padding: 20px 50px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.viewmodes>a{
  width: 20px;
  height: 20px;
  padding: 1px;
}

.state-control{
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.filter-container {
  padding-top: 30px;
  padding-bottom: 30px;

  width: 460px;
  height: calc(100vh - 190px);
}

  .filter-preview {
    flex: none;
    width: 460px;
    border-radius: 3px;
    padding: 30px;
    padding-top: 0px;
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 10px;
  }

  .filter-preview::-webkit-scrollbar {
    width: 3px;
  }
  
  .filter-preview::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }

  .filter-active{
    border: 2px solid rgba(0, 255, 0, 0.6) !important;
  }
  
  .filter-preview::-webkit-scrollbar-track {
    background-color: none;
  }

  .layer-view{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .filter_asset_container{
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  .filter_asset_container:hover{
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  .card-container {
    color: white;
    line-height: 0;
    border-radius: 8px;
  }
  
  .nft-image-container {
    overflow: hidden;
  }
  
  
  .nft-image-solo{
    height: 500px;
  }
  
  .gradient-border {
    padding: 1.5px;
    background-image: linear-gradient(to right, #842481, #ED1E79, #29ABE2, #FBB03B, #F15A24);
    display: inline-block;
  }
  
  .card-description-container{
    background-color: gray;
  }
  
  .card-d-container-row {
    display: flex; /* This makes it a flex container */
    justify-content: space-between; /* This spreads out the items to the left and right ends */
    align-items: center; /* This centers the items vertically, you can adjust as needed */
    font-size: 16px;
    margin-right: 16px;
    margin-left: 16px;
    height: 3em;
  }
  
  .nri-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .nri-text {
    background-color: #535bf2; /* Background applied to the text */
    border-radius: 5px; /* Match the container's border-radius if needed */
    padding: 0.8em; /* Adjust padding as needed to control background size */
    color: #FFFFFF;
  }
  
  .nft-price-container {
    display: flex;
    align-items: center;
  }
  
  .preview-container {
    padding: 40px;
  }

  .dfinity-price-image{
    height: 0.8em;
    padding-left: 4px;
    object-fit: contain;
  }
  
  .buy-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .buy-now-text {
    background-color: #598C58; /* Background applied to the text */
    border-radius: 5px; /* Match the container's border-radius if needed */
    padding: 0.8em; /* Adjust padding as needed to control background size */
    color: #000000;
  }

  .nft-item {
    width: 200px; /* Adjust width as needed */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .price-tag {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
  }
  
  .icon-placeholder {
    position: absolute;
    bottom: 5px;
    right: 5px;
    /* Add styles for the icon placeholder as needed */
  }
  
  .details-container {
    position: relative;
  }
  
  @media (max-width: 768px) {
    .item-preview {
      /* Adjust the height for mobile if necessary, or any other styles */
      display: none;
    }
    .viewmodes{
      border-right: 0;
    }
  }