.grid-container {
    height: calc(100vh - 200px);
    flex: 1;
    gap: 10px;
    border-radius: 10px;
    padding: 0px 3px 0 0px;
    scrollbar-width: none;
  }

  .grid-filter-container {
    display: flex;
    margin: 20px 0px;
  }

  /* .cards-container {
    height: calc(100vh - 140px);
    flex: 1;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    padding: 0px 20px;
  } */


  .nft-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
    gap: 10px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll ;
    padding-left: 10px;
    padding-right: 10px; /* Create space for the scrollbar */  }

  .nft-container-card-version {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
    gap: 10px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll; 
    padding: 0px 10px;  
  }
  
  .nft-container::-webkit-scrollbar {
    margin-right: 0;
    width: 10px;
  }
  
  .nft-container::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 0px;
  }
  
  .nft-container::-webkit-scrollbar-track {
    background-color: none;
  }

  .nft-container-card-version::-webkit-scrollbar {
    margin-right: 0;
    width: 10px;
  }
  
  .nft-container-card-version::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 0px;
  }

  .logo-container {
    margin-left: 20px;
    width: 180px;
  }

  .icphats-logo {
    height: 70px;
    margin-left: -7px;
  }


.nft-viewer {
  display: flex;
  flex-direction: column;
  width: calc(100vh- 60px);
  height: calc(100vh - 80px);
  margin: 40px 60px 40px 60px;
  border: 2px solid #c0c0c0;
  background-color: black;
  box-shadow: 
    inset 1px 1px 0px #ffffff, /* Top left inner white to mimic raised effect */
    inset -1px -1px 0px #5f5f5f, /* Bottom right inner shadow for depth */
    0px 10px 40px rgba(0, 0, 0, 0.5), /* Outer shadow for floating effect */
    0px -10px 40px rgba(0, 0, 0, 0.5), /* Outer shadow for floating effect */
    10px 0px 40px rgba(0, 0, 0, 0.5), /* Outer shadow for floating effect */
    -10px 0px 40px rgba(0, 0, 0, 0.5); /* Outer shadow for floating effect */



}

.count-viewmodes-container {
  display: flex;
  flex-direction: row;
}

.viewmodes {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 0px 0 20px;
  gap: 8px;
}


.viewmodes>a{
  height: 20px;
  /* padding: 1px; */
  justify-content: center;
  align-items:center;
  display: flex;
  text-decoration: none;
  
}

.state-control{
  display: flex;
  height: 100px;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid #808080;
}

.state-control-minus-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
}

.nft-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22006C; /* Retro purple background */
  width: 115px;
  height: 45px;
  box-shadow: inset 0 0 10px #381E5A; 
  border: 3px solid #FFFFFF; /* Add a white border for that classic look */
  text-shadow: 3px 3px 0 #000; /* Gives the text a more defined, pixelated look */
  margin: 0 0 0 10px;
}

.nft-count-container p{
  font-size: 1.5rem;
  margin: 0 0 -3px 0;
}

.filter-container {
  width: 200px;
  height: calc(100vh - 200px);
}


  .filter-preview {
    flex: none;
    width: 200px;
    padding: 0px 10px 0px 10px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 300px);
    gap: 20px;
    overflow-y: scroll;
  }


  .filter-active{
    border: 2px solid rgba(0, 255, 0, 0.6) !important;
  }

  .filter-preview::-webkit-scrollbar {
    margin-right: 0;
    width: 10px;
  }
  
  .filter-preview::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 0px;
  }
  
  .filter-preview::-webkit-scrollbar-track {
    background-color: black;
  }

  .filter-preview::-webkit-scrollbar-track-piece {

  }

  .one-∞{
    text-decoration: none;
    background: white;
    color: black;
  }

  .NFT-Search-Container{
    display: flex;
    /* justify-content: center; */
    width: 200px; /* Adjust as needed */
    height: 30px;
    padding: 0px 10px;
    margin: 0 0 20px 0;
  }

  .NFT-search-input {
    font-family: 'Half Bold Pixel-7', sans-serif;
    background-color: #222; /* Dark background */
    border: 2px solid #808080; /* Bright green border, typical of old monitors */
    color: #0f0; /* Bright green text color */
    width: 170px;
    outline: none; /* Remove the default focus outline */
    padding: 0 10px;
  }

.NFT-search-input::-webkit-outer-spin-button,
.NFT-search-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.NFT-search-input[type="number"] {
  -moz-appearance: textfield;
}
  
  .escape-icon {
    display: flex; /* Allows setting width and height */
    width: 26px; /* Adjusted width to accommodate for border within a 20x20px box */
    height: 26px; /* Adjusted height for the same reason */
    background-color: #D3D3D3; /* Light grey background */
    box-shadow: none; /* No shadow to save space and because it won't be noticeable */
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif; /* Uses Arial as the sans-serif font */
    font-size: 6px; /* Essentially removes the text by setting font size to 0 */
    user-select: none; /* Prevents text selection */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    text-decoration: none;
    color: black;
  }
  
  .escape-icon:active {
    background-color: #C0C0C0; /* Changes background color to simulate pressing */
  }

  .price-view {
    display: flex; /* Allows setting width and height */
    width: 26px; /* Adjusted width to accommodate for border within a 20x20px box */
    height: 26px; /* Adjusted height for the same reason */
    background-color: #598C58; /* Light grey background */
    box-shadow: none; /* No shadow to save space and because it won't be noticeable */
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Essentially removes the text by setting font size to 0 */
    user-select: none; /* Prevents text selection */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    text-decoration: none;
    color: black;
  }

  .price-view-active{
    color: white;
  }

  .price-view-icon p {
    margin: 0 0 -3px;
  }
  
  
  
  /* Adjusting for no shadow due to size, focusing on a simple, clean look */
   
  .filters-button-container{
    align-items: center;
    width: 200px;
    padding: 0px 10px 0px 10px;
    margin: 0 0 20px 0;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .filters-button-container a{
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }

  .filters-button-container img{
    height: 26px;
    width: 26px;
  }

  .layer-view{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .filter_asset_container{
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }

  .filterIcon{
    visibility: hidden;
  }

  .mobile-filter-container{
    display: flex;
    flex-direction: column;
  }

  .NFT-Search-Container{
    width: 100px;
  }

  

  .card-container {
    color: white;
    line-height: 0;
    border-radius: 8px;
  }
  
  .nft-image-container {
    overflow: hidden;
  }
  

  .nft-image{
    width: 100%;
  }

  .gradient-border {
    padding: 1.5px;
    background-image: linear-gradient(to right, #842481, #ED1E79, #29ABE2, #FBB03B, #F15A24);
  }

  .black-border {
    padding: 1.5px;
    background-color: #808080;
  }

  .gradient-border:hover {
    /* transform: scale(1.03); Scales up the whole container including the gradient border */
    /* background-image: none; */
    /* background-color: green; */
  }

  .gradient-border:hover img{
    /* transform: scale(0.95); Scales up by 5% on hover */
  }

  .black-border:hover {
    /* transform: scale(1.03); Scales up the whole container including the gradient border */
    /* background-color: green; */
  }

  .black-border:hover img{
    /* transform: scale(0.95); Scales up by 5% on hover */
  }
  
  
  .card-description-container{
    background-color: #1b1b1b;
  }

  .card-description-container p{
    margin: 0 0 -3px 0;
  }
  
  .card-d-container-row {
    display: flex; /* This makes it a flex container */
    justify-content: space-between; /* This spreads out the items to the left and right ends */
    align-items: center; /* This centers the items vertically, you can adjust as needed */
    font-size: 16px;
    margin-right: 16px;
    margin-left: 16px;
    height: 42px;
  }
  
  .nri-container{
    display: flex;
    align-items: center;


    justify-content: center;
    border-radius: 5px;
  }
  
  .nri-text {
    background-color: #535bf2; /* Background applied to the text */
    border-radius: 5px; /* Match the container's border-radius if needed */
    padding: 0.8em; /* Adjust padding as needed to control background size */
    color: #FFFFFF;
  }
  
  .nft-price-container {
    /* background-color: #22006C; */
    display: flex;
    align-items: center;
    height: 23px;
    /* border: solid 1px white; */
  }

  .nft-price-container p{
    padding: 0px 0px 0px 0px;
  }
  
  .preview-container {
    padding: 40px;
  }

  .dfinity-price-image{
    height: 13px;
    width: 13px;
    padding: 0 0 0 3px;
    object-fit: contain;
  }

  .hide-price-logo {
    height: 13px;
    width: 13px;
    opacity: 0;
  }
  
  .buy-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    background-color: #598C58; /* Background applied to the text */
    text-decoration: none;
  }
  
  .buy-now-text {
    padding: 0px 10px;
    border-radius: 5px; /* Match the container's border-radius if needed */
    color: #000000;
  }

  .nft-item {
    width: 200px; /* Adjust width as needed */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .price-tag {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
  }
  
  .icon-placeholder {
    position: absolute;
    bottom: 5px;
    right: 5px;
    /* Add styles for the icon placeholder as needed */
  }
  
  .details-container {
    position: relative;
  }

  /* This will apply only if the device supports hover */
  @media (hover: hover) {
    .filter_asset_container:hover {
      border: 2px solid rgba(255, 255, 255, 0.5);
    }
  }


  
  @media (max-width: 768px) {

    .filters-button-container{
      width: 110px;
    }

    .filter-container {
      /* Adjust the height for mobile if necessary, or any other styles */
      display: none !important;
    }

    .NFT-Search-Container{
      display: flex;
      /* justify-content: center; */
      width: 110px; /* Adjust as needed */
      height: 30px;
      padding: 0px 10px;
      margin: 0 0 20px 0;
    }
  
    .NFT-search-input {
      width: 100px;
      outline: none; /* Remove the default focus outline */
      padding: 5px 10px;
      border-radius: 0px;
    }

    .card-container p{
      font-size: 14px;
    }

    .filterIcon{
      visibility: visible;
    }

    .mobile-filter-container{
      display: flex;
    }

    .filter-preview::-webkit-scrollbar{
      width: 0px;
    }

    .nft-container-card-version::-webkit-scrollbar {
      width: 0;
    }

    .nft-container::-webkit-scrollbar {
      width: 0;
    }

    .filter-preview {
      flex: 1;
      width: 110px;
      padding-right: 0;
    }

    .viewmodes{
      border-right: 0;
    }
 
    .nft-viewer{
      width: 100vw;
      height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
      margin: 0;
      border: 2px solid #c0c0c0;
      box-shadow: none;
    }

    .state-control{
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      border-bottom: 2px solid #808080;
    }

    .logo-container {
      width: auto;
      margin: 0px 20px;
    }


    .grid-filter-container {
      display: flex;
      height: calc(100vh - 100px);
      margin: 10px 0px;
    }

    .grid-container {
      height: 100%;
      padding: 0;
    }

    .nft-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      /* display: flex;
      flex-wrap: wrap; */
      gap: 10px;
      max-height: calc(100vh - 100px);
      overflow-y: scroll ;
    }
    
    .nft-container-card-version {
      max-height: calc(100vh - 100px);
    }

    .nft-container-card-version {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      /* display: flex;
      flex-wrap: wrap; */
      gap: 10px;
      overflow-y: scroll; 
    }

    .card-d-container-row {
      margin: 0px;
      height: 30px;
    }

    .card-description-container {
      padding: 4px 10px;
    }

    .buy-now-text {
      padding: 0px 5px;
      border-radius: 5px; /* Match the container's border-radius if needed */
      color: #000000;
    }

    .icphats-logo {
      margin-left:  -20px;
    }

    .viewmodes{
      margin: 0 10px 0 0;
    }

    .nft-count-container{
      width: 95px;
      height: 40px;
      box-shadow: inset 0 0 10px #381E5A; 
      border: 3px solid #FFFFFF; /* Add a white border for that classic look */
      text-shadow: 3px 3px 0 #000; /* Gives the text a more defined, pixelated look */
      margin: 0 0 0 8px;
    }

    .nft-count-container p{
      font-size: 20px;
    }
  }