.grid-container {
    height: 70vh;
    flex: 1;
    margin: 0 5vw 36px 5vw;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: #12002C;
    scrollbar-width: none;
    border-radius: 10px;
    padding: 0px;
  }

  .grid-container::-webkit-scrollbar {
    display: none; /* This will hide the scrollbar in WebKit browsers */
  }

.nft-viewer {
  display: flex;
  padding: 20px;
  width: 100vw;
}

.viewmodes {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.viewmodes>a{
  width: 20px;
  height: 20px;
  padding: 1px;
}

.state-control{
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
}
  .item-preview {
    flex: none;
    width: 400px;
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    height: 70vh;
  }
  
  .card-container {
    color: white;
    line-height: 0;
    border-radius: 8px;
  }
  
  .nft-image-container {
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
  }
  
  
  .nft-image-solo{
    height: 500px;
  }
  
  .gradient-border {
    padding: 1.5px;
    background-image: linear-gradient(to right, #842481, #ED1E79, #29ABE2, #FBB03B, #F15A24);
    border-radius: 8px;
    display: inline-block;
  }
  
  .card-description-container{
    background-color: gray;
    border-radius: 0px 0px 8px 8px;
  }
  
  .card-d-container-row {
    display: flex; /* This makes it a flex container */
    justify-content: space-between; /* This spreads out the items to the left and right ends */
    align-items: center; /* This centers the items vertically, you can adjust as needed */
    font-size: 16px;
    margin-right: 16px;
    margin-left: 16px;
    height: 3em;
  }
  
  .nri-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .nri-text {
    background-color: #535bf2; /* Background applied to the text */
    border-radius: 5px; /* Match the container's border-radius if needed */
    padding: 0.8em; /* Adjust padding as needed to control background size */
    color: #FFFFFF;
  }
  
  .nft-price-container {
    display: flex;
    align-items: center;
  }
  
  .preview-container {
    padding: 40px;
  }

  .dfinity-price-image{
    height: 0.8em;
    padding-left: 4px;
    object-fit: contain;
  }
  
  .buy-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .buy-now-text {
    background-color: #598C58; /* Background applied to the text */
    border-radius: 5px; /* Match the container's border-radius if needed */
    padding: 0.8em; /* Adjust padding as needed to control background size */
    color: #000000;
  }

  .nft-item {
    width: 200px; /* Adjust width as needed */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .price-tag {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
  }
  
  .icon-placeholder {
    position: absolute;
    bottom: 5px;
    right: 5px;
    /* Add styles for the icon placeholder as needed */
  }
  
  .details-container {
    position: relative;
  }