.stats-brand-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 5px;
    padding-right: 100px;
    column-gap: 20px;
    width: auto;
}

.brand-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand-container > * {
    padding: 0px 0.3em 0px 0.3em;
}

.brand-logo {
    margin-top: -20px;
    height: 12vh; /* Set the height to 5% of the viewport height */
    width: auto; /* Adjust width automatically to maintain aspect ratio */
  }

.social_links{
    display: flex;
    align-items: center;
}

.stats-container{
    display: flex;
    height: 5vh;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.volume-stat > h3 {
    color: #a9a9a9;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #f0f0f0;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  
  
  .stat {
    text-align: center;
    padding: 0px 0.5em 0px 0.5em;
  }
  
  .stat .title {
    text-align: left;
    color: #a9a9a9;
    font-size: 0.75rem;
    margin: 0;
  }
  
  .stat .value {
    text-align: left;
    color: #f0f0f0;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }

  /* Responsive Design */
@media (max-width: 768px) {
    .stats-container {
      flex-direction: column;
    }
  
    .stat {
      margin-bottom: 10px;
    }
  }