.banner {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vw;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/loading-background.png"); /* Correct path to your GIF */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  display: flex; /* Use Flexbox for easier content alignment */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}


.loading-inner-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.password-input-box {
  font-family: 'Half Bold Pixel-7', sans-serif;
  background-color: #222; /* Dark background */
  border: 2px solid #808080; /* Bright green border, typical of old monitors */
  color: #0f0; /* Bright green text color */
  padding: 10px;
  width: 200px; /* Adjust as needed */

  /* Retro glow effect for focus */
  /* box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0; */
  outline: none; /* Remove the default focus outline */
}

.loading-logo {
  height: 5em;
  display: inline-block; /* Ensure transform applies correctly */
  animation: wiggle 1s ease-in-out infinite;
}

.loading-text {
  font-size: 1rem;
  margin-top: 12px;
}

.df-font {
  font-family: 'Circular Std', sans-serif; /* Fallback to sans-serif if Circular Std isn't available */
}






.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Adjustments for Mobile */
@media (max-width: 768px) {
  .banner {
    /* Adjust the height for mobile if necessary, or any other styles */
    background-size: contain;
    height: 40vw;
  }
}
