.banner {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vw;
}

.loading-inner-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.loading-logo {
  height: 5em;
  display: inline-block; /* Ensure transform applies correctly */
  animation: wiggle 1s ease-in-out infinite;
}

.loading-text {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.df-font {
  font-family: 'Circular Std', sans-serif; /* Fallback to sans-serif if Circular Std isn't available */
}






.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Adjustments for Mobile */
@media (max-width: 768px) {
  .banner {
    /* Adjust the height for mobile if necessary, or any other styles */
    background-size: contain;
    height: 40vw;
  }
}
