* {
  box-sizing: border-box;
}



@font-face {
  font-family: 'Bruno Ace';
  src: url('assets/font/BrunoAce-Regular.ttf') format('truetype');
  /* You can add other font properties here if needed, like font-weight, font-style, etc. */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Keeps it relative to the viewport */

  font-family: 'Bruno Ace', sans-serif;
  
  overflow: auto; /* Prevents scrollbar, use with caution */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  cursor: url('assets/dds.png'), default;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: default;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #12002C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 100vw;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/loading_screen.png"); /* Correct path to your GIF */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  display: flex; /* Use Flexbox for easier content alignment */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.banner-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.banner {
  width: 50%;
  height: auto;
}

/* 
.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 5px;
  cursor: pointer;
} */


.nft-item {
  width: 200px; /* Adjust width as needed */
  margin: 10px; /* Adjust margin as needed */
}

.image-container {
  position: relative;
}

.price-tag {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.icon-placeholder {
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* Add styles for the icon placeholder as needed */
}

.details-container {
  position: relative;
}



.splash{
  height: 100%;
}


.h1{
  text-align: center;
}

.value {
  margin-top: 5px; /* Adjust spacing between title and value */
  font-size: 49px; /* Adjust font size for values */
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  /* Add any button styling you need */
  margin: 0 5px; /* Adjust spacing between buttons */
}
