* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Half Bold Pixel-7';
  src: url('assets/font/half_bold_pixel-7.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Keeps it relative to the viewport */
  font-family: 'Half Bold Pixel-7', sans-serif;
}

body::-webkit-scrollbar {
  margin-right: 0;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
}

body::-webkit-scrollbar-track {
  background-color: none;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: default;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #12002C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 100vw;
}

.banner-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.banner {
  width: 50%;
  height: auto;
}

.nft-item {
  width: 200px; /* Adjust width as needed */
  margin: 10px; /* Adjust margin as needed */
}

.image-container {
  position: relative;
}

.price-tag {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.icon-placeholder {
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* Add styles for the icon placeholder as needed */
}

.details-container {
  position: relative;
}



.splash{
  height: 100%;
}


.h1{
  text-align: center;
}

.value {
  margin-top: 5px; /* Adjust spacing between title and value */
  font-size: 49px; /* Adjust font size for values */
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  /* Add any button styling you need */
  margin: 0 5px; /* Adjust spacing between buttons */
}

